<div class="auth-container h-100 w-100">
  <div class="row">
    <div class="col-md-12">
      <h3 class="title">Entrar</h3>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <h1 class="subtitle">Seja Bem-vindo de volta</h1>
      <p class="context">Por aqui você acompanha e gerencia suas cotações e ordens de compra.</p>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <form [formGroup]="loginForm" id="login">
        <label class="input-label" for="user">Usuário</label>
        <input id="user" formControlName="email" nz-input class="form-control noventa-input" placeholder="CNPJ ou e-mail cadastrado" type="text" />

        <label class="input-label" for="pass">Senha</label>
        <input id="pass" formControlName="password" nz-input class="form-control noventa-input" placeholder="Digite sua senha" type="password" />
      </form>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12 d-flex flex-row justify-content-between align-items-end">
      <label nz-checkbox>Lembrar meus dados</label>
      <a class="lost-pass">Esqueci minha senha</a>
    </div>
  </div>
  <div class="row">
    <button (click)="login()" nz-button nzType="primary">Entrar</button>
  </div>
  <div class="row">
    <p class="create-account">Ainda não tem uma conta? <a [routerLink]="'/criar-usuario/dados-basicos'">Cadastra-se</a>
    </p>
  </div>
</div>
