.auth-container {
  padding: 0 72px;
  display: flex;
  flex-direction: column;
  justify-content: center;

  .title {
    color: var(--Blue, #0074B0);
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }

  .subtitle {
    color: var(--Black, #282828);
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }

  .context {
    color: var(--Black, #282828);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-bottom: 51px;
  }

  .input-label {
    color: var(--Black, #282828);
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
  }

  input {
    margin-bottom: 30px;
  }

  .lost-pass {
    color: var(--Blue, #0074B0);
    text-align: right;
    font-feature-settings: 'clig' off, 'liga' off;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 150%;
    /* 24px */
    letter-spacing: 0.15px;
  }

  button {
    background-color: #EC7000;
    border: none;
    padding: 16px;
    border-radius: 12px;
    color: #ffffff;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin: 65px 0;
  }

  .create-account {
    color: var(--Black, #282828);
    text-align: center;
    font-feature-settings: 'clig' off, 'liga' off;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 150%;
    letter-spacing: 0.15px;

    a {
      color: var(--Orange, #EC7000);
      font-feature-settings: 'clig' off, 'liga' off;
      font-size: 18px;
      font-style: normal;
      font-weight: 700;
      line-height: 150%;
      letter-spacing: 0.15px;
    }
  }
}
