<div class="auth-container h-100 w-100">
  <div class="row">
    <div class="col-md-12">
      <h3 class="title">Crie sua conta</h3>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <h1 class="subtitle">Bem vindo à 90Compor!</h1>
      <p class="context">Vamos criar sua conta em alguns passos simples.</p>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <form [formGroup]="userForm">
        <div class="input-container">
          <label class="input-label" for="name">Nome completo</label>
          <input id="name" formControlName="nome" nz-input class="form-control noventa-input"
            placeholder="Insira seu nome" type="text"
            [class]="(userForm.get('nome')?.invalid && userForm.get('nome')?.errors && (userForm.get('nome')?.dirty || userForm.get('nome')?.touched)) ? 'hasError' : ''" />
          <div
            *ngIf="userForm.get('nome')?.invalid && userForm.get('nome')?.errors && (userForm.get('nome')?.dirty || userForm.get('nome')?.touched)">
            <small class="text-danger" *ngIf="userForm.get('nome')?.hasError('required')">
              * O campo nome é obrigatorio.
            </small>
          </div>
        </div>

        <div class="input-container">
          <label class="input-label" for="email">E-mail</label>
          <input id="email" formControlName="email" nz-input class="form-control noventa-input"
            placeholder="nome@empresa.com.br" type="email"
            [class]="(userForm.get('email')?.invalid && userForm.get('email')?.errors && (userForm.get('email')?.dirty || userForm.get('email')?.touched)) ? 'hasError' : ''" />
          <div
            *ngIf="userForm.get('email')?.invalid && userForm.get('email')?.errors && (userForm.get('email')?.dirty || userForm.get('email')?.touched)">
            <small class="text-danger" *ngIf="userForm.get('email')?.hasError('required')">
              * O campo e-mail é obrigatorio.
            </small>
          </div>
        </div>

        <div class="input-container">
          <label class="input-label" for="pass">Senha</label>
          <input id="pass" formControlName="password" nz-input class="form-control noventa-input"
            placeholder="Insira pelo menos 8 caracteres" type="password"
            [class]="(userForm.get('password')?.invalid && userForm.get('password')?.errors && (userForm.get('password')?.dirty || userForm.get('password')?.touched)) ? 'hasError' : ''" />
          <div
            *ngIf="userForm.get('password')?.invalid && userForm.get('password')?.errors && (userForm.get('password')?.dirty || userForm.get('password')?.touched)">
            <small class="text-danger" *ngIf="userForm.get('password')?.hasError('required')">
              * O campo senha é obrigatorio.
            </small>
            <small class="text-danger" *ngIf="userForm.get('password')?.hasError('minlength')">
              * O campo senha deve conter no minimo {{userForm.get('password')?.errors?.['minlength'].requiredLength}}
              caracteres.
            </small>
          </div>
        </div>
      </form>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <label nz-checkbox [(ngModel)]="acceptedPolicy">Li e concordo com os <a>Termos de Uso</a> da 90TI</label>
    </div>
  </div>
  <div class="row">
    <button (click)="createUser()" [disabled]="!userForm.valid && !acceptedPolicy" nz-button
      nzType="primary">Continuar</button>
  </div>
  <div class="row">
    <p class="create-account">Já possui uma conta? <a [routerLink]="'/auth/login'">Entre</a></p>
  </div>
</div>